@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import "./variables.css";

/* Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 70px 0;
}

.row {
    margin: 0;
}

/* Header */
header, .navbar {
    background-color: var(--color-4);
}

header #nav-container {
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-nav {
    gap: 20px;
}

.nav-item {
    color: var(--color-5);
}

#page-theme-icon {
    color: var(--color-6);
    transition: .2s;
}

#page-theme-icon:hover {
    transform: scale(1.1);
}

/* Introduction area */
#introduction-area {
    padding-top: 40px;
    background-color: var(--color-5);
}

#introduction-area h2 {
    font-family: 'Playfair Display', serif;
}

#introduction-author {
    color: var(--color-4);
    font-weight: 600;
}

#introduction-image {
    width: 400px;
}