#btn-cv {
    width: fit-content;
    padding: 14px 24px;
}

.about-stats-qtd {
    font-weight: 600;
    font-size: 24px;
    display: block;
}

.about-stats-qtd + span {
    font-weight: 500;
    color: #a3a3a3;
}