/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #fdfdfd;
}

@font-face {
    font-family: Agustina Signature;
    src: url(../fonts/Agustina-Signature.otf);
}

#logo-name {
    font-family: Agustina Signature;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-dark);
}

.navbar-nav {
    font-weight: 500;
    font-size: 14px;
}

.divider {
    height: 100px;
}

.container {
    max-width: 992px;
}

.description-text {
    color: #6b6a7c;
}

.section-head {
    text-align: center;
    margin-bottom: 25px;
}

.section-head .section-title {
    font-weight: 600;
}

.section-head .section-description {
    font-size: 14px;
    color: #6b6a7c;
}