#introduction-area {
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#introduction-area .introduction-image img{
    margin-top: 40px;
    width: 350px;
}

#introduction-area h2 {
    margin-top: 80px;
    margin-bottom: 20px;
}

#introduction-author {
    color: var(--color-2);
    font-weight: 600;
}

#author-dev-area {
    font-size: 30px;
    color: var(--color-2);
    font-weight: 600;
    border-right: 3px solid var(--color-2);
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--color-2) }
  }