@media (width > 767px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      display: block;
    }
}

@media (width < 768px) {
    /* Education */
    .education-calendar span {
        font-size: 12px;
    }

    /* Projects */
    .carousel {
        max-width: 500px;
        margin: 0 auto;
    }

    /* Contacts */
    #contact-content {
        grid-template-columns: 1fr;
        width: 70%;
    }

    .contact-img {
        width: 70%;
        margin: 0 auto;
    }
}

@media (width < 576px) {
    section {
        padding: 0 10px;
    }
    /* Sobre */
    .about-stats-qtd {
        font-size: 20px;
    }

    .about-stats-qtd + span {
        font-size: 14px;
    }

    .description-text {
        font-size: 14px;
    }

    /* Education */
    .education-data .education-title {
        font-size: 16px;
    }
    .education-data .education-subtitle {
        font-size: 12px;
    }

    /* Skills */
    .skills-item {
        font-size: 14px;
    }

    /* Contacts */
    .contact-item-text {
        font-size: 12px;
    }

    #contact-button {
        font-size: 14px;
        padding: 12px 16px;
        margin: 0 auto;
    }

    #contact-button img {
        width: 18px;
    }

    #contact-content {
        padding: 36px 28px 0;
    }

    /* Footer */
    .footer p {
        text-align: center;
    }

    .footer a {
        margin-top: 10px;
       margin: 0 auto;
    }
}

@media (width < 380px) {
    .line {
        height: 110%;
    }

    .education-data .education-title {
        font-size: 14px;
    }

    .education-data .education-subtitle {
        font-size: 10px;
    }

    .education-calendar img {
        width: 14px;
    }

    .education-data {
        column-gap: 0.5rem;
    }
}