/* NavBar */
#logo-name {
    font-family: Agustina Signature;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-dark);
}

.navbar-nav {
    font-weight: 500;
    font-size: 14px;
}

.nav-link {
    color: var(--text-dark);
}

#i-moon,
#i-moon-solid {
    cursor: pointer;
}

#i-moon-solid {
    display: none;
}